<!DOCTYPE html>
<html lang="pt" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MyBlogProject</title>

    <!--CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <!--Import google Icon Font-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!--Inserindo SummerNote-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.js"></script>
</head>
<body>

<header>
    <nav class="navbar bg-body-tertiary" style="padding: 10px" data-bs-theme="dark">
        <a href="/posts"><span class="navbar-brand mb-0 h1" style="font-size: 2rem;">MyBlogProject</span></a>
        <a href="/newpost" class="btn btn-success" style="margin:0px 5px;" type="button">Novo Post</a>

        <form class="d-flex" role="search"  th:action="@{/}" method="get" >
            <input class="form-control me-2" name="keyword" type="text" th:value="${keyword}" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </nav>
</header>

<section>
    <div>

        <div class="container" style="width: 70%; padding-bottom: 30px;">

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb" style="padding-left: 0px; margin: 10px 0px">
                    <li class="breadcrumb-item" style="margin-top: 5px" aria-current="page"><a href="/index">Posts</a></li>
                    <li class="breadcrumb-item active link-dark" aria-current="page" style="color: white; margin-top: 5px">New Post</li>

                </ol>
            </nav>

            <div>
                <th:block th:include="messageValidation"></th:block>
                <form method="post">
                    <div class="form-group" style="margin: 10px 0px;">
                        <input type="text" class="form-control" name="titulo" placeholder="Título *">
                    </div>
                    <div class="form-group" style="margin: 10px 0px">
                        <input type="text" class="form-control" name="autor" placeholder="Autor *">
                    </div>

                    <textarea id="summernote" type="text" class="form-control" name="texto" placeholder="Texto *"
                    ></textarea>

                    <small class="form-text text-muted">(*) Campos Obrigatórios</small><br>

                    <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Publicar</button>

                    <a href="/index" class="btn btn-light" role="button" style="margin-top: 10px;">Cancelar</a>
                </form>
            </div>

        </div>
    </div>
</section>
<script>
    $('#summernote').summernote({
        placeholder: 'Escreva algo *',
        tabsize: 2,
        height: 300
    });



</script>
</body>
</html>